<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add New Electronic Vehicle</title>
    <script src="https://www.gstatic.com/firebasejs/ui/4.4.0/firebase-ui-auth.js"></script>
    <link type="text/css" rel="stylesheet"
          href="https://www.gstatic.com/firebasejs/ui/4.4.0/firebase-ui-auth.css"/>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='add_new_vehicle.js') }}">
    </script>
</head>
<body>
<div id="add_new_vehicle_page" class="container">
    <h1>Add New Electronic Vehicle</h1>
    <form method="post" action="/add_new_vehicle_to_the_database">
        <label for="vehicle_name">Enter Vehicle Name:</label><br>
        <input type="text" required class="form-control" name="vehicle_name" id="vehicle_name"><br><br>

        <label for="vehicle_manufacturer">Enter Vehicle Manufacturer:</label><br>
        <input type="text" required class="form-control" name="vehicle_manufacturer" id="vehicle_manufacturer"><br><br>

        <label for="vehicle_year">Enter Vehicle Year:</label><br>
        <input type="number" required class="form-control" min="1900" max="2090" name="vehicle_year"
               id="vehicle_year"><br><br>

        <label for="vehicle_battery_size">Enter Vehicle Battery Size(Kwh):</label><br>
        <input type="number" required class="form-control" min="0" name="vehicle_battery_size"
               id="vehicle_battery_size"><br><br>

        <label for="vehicle_wltp_range">Enter Vehicle WLTP Range(Km):</label><br>
        <input type="number" required class="form-control" min="0" name="vehicle_wltp_range"
               id="vehicle_wltp_range"><br><br>

        <label for="vehicle_cost">Enter Vehicle Cost:</label><br>
        <span>€</span>
        <input type="number" required class="form-control" value="1000" min="0" step="0.01" name="vehicle_cost"
               id="vehicle_cost"><br><br>

        <label for="vehicle_power">Enter Vehicle Power(Km):</label><br>
        <input type="number" required class="form-control" min="0" name="vehicle_power"
               id="vehicle_power"><br><br><br><br>

        <input type="submit" value="Submit">
        <input type="reset">
    </form>
</div>
</body>
<script src="https://www.gstatic.com/firebasejs/7.14.5/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.8.0/firebase-auth.js"></script>
<script src="{{ url_for('static', filename='app-setup.js') }}"></script>
<script src="{{ url_for('static', filename='script.js') }}"></script>
<script src="{{ url_for('static', filename='view_all_vehicles.js') }}"></script>
</html>