<!DOCTYPE html>
<html>
<head>
    <script src="https://www.gstatic.com/firebasejs/ui/4.4.0/firebase-ui-auth.js"></script>
    <link type="text/css" rel="stylesheet"
          href="https://www.gstatic.com/firebasejs/ui/4.4.0/firebase-ui-auth.css"/>
    <title>Assignment 01: Building an EV database</title>
    <script src="{{ url_for('static', filename='script.js') }}">
    </script>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<script src="https://www.gstatic.com/firebasejs/7.14.5/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.8.0/firebase-auth.js"></script>
<script src="{{ url_for('static', filename='app-setup.js') }}"></script>

<div id="firebase-auth-container"></div>
<button id="sign-out" hidden="true">Sign out</button> <div id="login-info" hidden="true">
    <h2>Assignment 01: Building an EV database</h2><br><br>

    <form action="/get_vehicle_page" method="get">
        <input type="submit" value="Add Electronic Vehicle"><br><br>
    </form>

    <form action="/view_All_Vehicle" method="get">
        <input type="submit" value="View All Electronic Vehicle"><br><br>
    </form>

</div>

</body>
</html>
